voila
# git+git://github.com/giswqs/geemap.git
pyparsing==2.4.7
httplib2==0.19.1
ffmpeg
geemap==0.11.8
earthengine-api
ee-extra
gdown
ipynb-py-convert
pycrs
sankee
zipp
traitlets
six
pyrsistent
importlib-resources
attrs
wcwidth
tornado
pyzmq
python-dateutil
pycparser
pure-eval
ptyprocess
parso
nest-asyncio
jupyter-core
jsonschema
executing
entrypoints
asttokens
webencodings
stack-data
soupsieve
pygments
pyasn1
prompt-toolkit
pickleshare
pexpect
packaging
nbformat
matplotlib-inline
MarkupSafe
jupyter-client
jedi
decorator
cffi
backcall
urllib3
testpath
rsa
pyasn1-modules
protobuf
pandocfilters
nbclient
mistune
jupyterlab-pygments
jinja2
ipython
idna
defusedxml
debugpy
charset-normalizer
certifi
cachetools
bleach
beautifulsoup4
argon2-cffi-bindings
terminado
sniffio
Send2Trash
requests
prometheus-client
nbconvert
ipython-genutils
ipykernel
googleapis-common-protos
google-auth
argon2-cffi
websocket-client
notebook
google-crc32c
google-api-core
anyio
widgetsnbextension
uritemplate
pytz
jupyterlab-widgets
jupyter-server
google-resumable-media
google-cloud-core
google-auth-httplib2
tenacity
PySocks
numpy
notebook-shim
json5
ipywidgets
httplib2shim
google-cloud-storage
google-api-python-client
future
click
babel
xyzservices
whitebox
websockets
traittypes
tqdm
ratelim
pyyaml
pyproj
plotly
pillow
pandas
nbclassic
logzero
kiwisolver
jupyterlab-server
ipytree
ipyfilechooser
fonttools
filelock
cycler
branca
whiteboxgui
python-box
pyshp
palettable
owslib
mss
matplotlib
jupyterlab
ipyleaflet
ipyevents
here-map-widget-for-jupyter
googledrivedownloader
geojson
geocoder
geeadd
folium
colour
bqplot